.container {
  min-height: 100vh;
  padding: 1em;
  background-image: radial-gradient(black, grey);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1em;
}

.stack {
  flex: 1;
  padding: 1em;
  background-color: khaki;
  border-radius: 0.2rem 0.2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.stackItem {
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  text-align: right;
  background-color: khaki;
  border: none !important;
  outline: none !important;
}

.input {
  text-align: left;
}

.grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  gap: 0.5em;
}

.enterButton {
  grid-column: 1 / 3;
}

.grid button {
  font-size: calc(1rem + 1vw);
  color: ivory;
  font-weight: bold;
  background-image: linear-gradient(black,grey);
  border-radius: .2rem;
}

.grid button:hover {
  background-image: radial-gradient(black,grey);
}

.grid button:active {
  background-image: radial-gradient(grey, black);
}
